:root {
    /* primary */
    --Red: hsl(0, 78%, 62%);
    --Cyan: hsl(180, 62%, 55%);
    --Orange: hsl(34, 97%, 64%);
    --Blue: hsl(212, 86%, 64%);
    /* secondary */
    --Very-Dark-Blue: hsl(234, 12%, 34%);
    --Grayish-Blue: hsl(229, 6%, 66%);
    --Very-Light-Gray: hsl(0, 0%, 98%);
    --fw-200: 200;
    --fw-400: 400;
    --fw-600: 600;
}
*,
*::before,
*::after {
    box-sizing: border-box;
}
* {
    margin: 0;
    padding: 0;
}

body {
    font-size: 15px;
    font-family: "Poppins", sans-serif;
    background-color: var(--Very-Light-Gray);
    color: var(--Very-Dark-Blue);
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    gap: 3rem;
    align-items: center;
    justify-content: center;
    line-height: 1.5;
}
header {
    text-align: center;
}
main {
    display: flex;
    flex-direction: column;
    gap: 2rem;
}
.card {
    background-color: #fff;
    box-shadow: 10px 0px 20px rgb(0, 0, 0, 0.1);
    border-radius: 5px;
    padding: 2rem;
    width: 320px;
    display: flex;
    flex-direction: column;
    gap: 1.725rem;
}
main {
    display: flex;
    align-items: center;
    justify-content: center;
}
.card1 {
    border-top: 6px solid var(--Cyan);
}
.card2 {
    border-top: 6px solid var(--Red);
}
.card3 {
    border-top: 6px solid var(--Orange);
}
.card4 {
    border-top: 6px solid var(--Blue);
}
.img {
    display: flex;
    justify-content: flex-end;
}
.content {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}
.content p {
    color: var(--Grayish-Blue);
}
.content h2 {
    font-size: 1.2rem;
}
.md {
    display: flex;
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
}

.section-discription {
    /* text-align: center; */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.t1 {
    font-size: 1.725rem;
    font-weight: 200;
    color: var(--Grayish-Blue);
}
.t2 {
    font-size: 1.725rem;
    font-weight: 600;
    padding-bottom: 1rem;
}
header p {
    color: var(--Grayish-Blue);
    max-width: 450px;
    margin: 0 1rem;
}
.section-discription p {
    color: var(--Grayish-Blue);
    margin-top: 1rem;
    max-width: 60ch;
    text-align: center;
}
@media (min-width: 1000px) {
    main {
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        gap: 1.5rem;
    }
    .t1,
    .t2 {
        font-size: 2rem;
    }
    .content h2 {
        font-size: 1.5rem;
    }
}
